html {
  overflow-x: hidden;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 0.5rem;
  font-family: Lato, sans-serif;
  color: #222324;

  line-height: 1.7;

  background-color: #fff;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {

  font-weight: 410;
  font-family: Montserrat, sans-serif;
  line-height: 1.3;

  color: #af43af;
  margin-top: 0;
  margin-bottom: .5rem;
}
h2
{
background-color:  #13b1cd;
color: white;
border: 1px solid  #13b1cd ;
border-radius: 40px;
padding: 8px;
box-shadow: 5px 10px 18px  #0d8bdf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #242424;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

h1 a:focus, h1 a:hover,
h2 a:focus,
h2 a:hover,
h3 a:focus,
h3 a:hover,
h4 a:focus,
h4 a:hover,
h5 a:focus,
h5 a:hover,
h6 a:focus,
h6 a:hover {
  color: #179397;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

em,
li {
  font-size: 1rem;
  font-weight: 300;
  color: #242424;
}

em > a,
li > a {
  color: #242424;
}

em > a:hover,
li > a:hover {
  color: #e4a6a3;
}

small {
  color: #e4a6a3;
}

label {
  font-size: 0.8125rem;
  font-weight: 705;
  color: #242424;
  margin-bottom: .25rem;
}

i {
  line-height: 1;
}

/* Paragraph */
p {
  font-size: 0.9375rem;
  font-weight: 300;
  color: #043303;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Links */
a {
  color: #179397;
  text-decoration: none;
}

a:focus, a:hover {
  color: #179397;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/*----------------------------------
  Selection
------------------------------------*/
::selection {
  color: #fff;
  background: #af43af;
  text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #af43af;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}

/*----------------------------------
  Button
------------------------------------*/
.s-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: none;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
